{
  "arrowParens": "always",
  "printWidth": 100,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "vue",
    "vue-router",
    "pinia",
    "quasar",
    "<THIRD_PARTY_MODULES>",
    "^@/composables(.*)$",
    "^@/stores(.*)$",
    "^@/types(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
